// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.footer {
    .social {
        @include breakpoint(max-lg) {
            justify-content: center !important;
        }
    }

    @extend %of-hidden;
    @include background-cover;
    background: $black-color;

    .padding-top-footer {
        padding-block-start: 50px
    }

    .padding-bottom-footer {
        padding-block-end: 50px
    }

    &__about {
        @include breakpoint(max-lg) {
            text-align: center !important;
        }

        h4 {
            color: $white-color;
        }

        >a {
            @extend %d-inline-block,
            %mb-20;
            color: $white-color;
        }

        >p {
            max-inline-size: 60ch;
            color: $white-color;

            @include breakpoint(max-lg) {
                margin: 12px auto;
            }

        }
    }

    &__links {
        @include breakpoint(max-lg) {
            text-align: center !important;
        }

        &-title {
            @extend %mb-15;

            h5 {
                color: $white-color;
            }
        }
    }

    &__linklist {
        &-item {
            &:not(:last-child) {
                margin-bottom: .35rem;
            }

            a {
                @include add-prefix(transition, $transition);
                @extend %p-rel,
                %d-inline-block;
                font-family: $text-font;
                color: $white-color;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .footer-search {

        .input-group {
            @include breakpoint(max-mlg) {
                justify-content: center !important;
            }
        }

        @include breakpoint(max-md) {
            display: none;
        }

        @extend %flex;
        @extend %align-items-center;
        column-gap: 20px;

        .input-group {
            .form-outline {
                input {
                    border-radius: 5px 0px 0px 5px !important;
                }
            }

            .search-btn {
                background: $secondary-color;
                outline: none;
                border: none;
                box-shadow: none;
                padding-inline: 20px;
                border-radius: 0px 5px 5px 0px !important;
                transition: $transition;

                img {
                    max-width: 20px;
                }

                &:hover {
                    background: #00bdcbc9;
                }

                .btn-icon {
                    color: $white-color !important;
                }
            }
        }
    }
}